.contact-nav {
  @include tablet{
  @include flex(flex, null, null, column, null);
  // display: flex;
  // align-items: center;
  // justify-content: center;
  margin-left: auto;}

  @include desktop{
  @include flex(flex, null, null, row, null);
  // display: flex;
  // align-items: center;
  // justify-content: center;
  }
}
.contact-nav__item{
  display: none;

  @include tablet{
    display: flex;
  }
}
.contact-wrap{
    display: flex;

  @include tablet{
    display: flex;
    flex-grow: 1;
  }
  @include desktop{
    display: flex;
    flex-grow: 1;
  }
}
.contact-nav__item:not(:last-child) {
  @include tablet{ 
    margin-bottom: 10px;
  }
  @include desktop{
    margin-bottom: 0;
    margin-right: 50px;
  }
}
.contact-nav__link {
  display: flex;
  align-items: center;
  @include font(500, null, 1.2, 0.02em);
  // font-weight: 500;
  // line-height: 1.2;
  // letter-spacing: 0.02em;

  color: var(--second-text-color);

  @include transition(color, null, null, 250ms, var(--cubic));
  // transition-property: color;
  // transition-duration: 250ms;
  // transition-timing-function: var(--cubic);
  &--mail{
    @include tablet{
      padding-top: 20px;
    }
  }
  &--tel{
    @include tablet{
      padding-bottom: 20px;
    }
  }   
  @include desktop{
    padding: 32px 0;
  }

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.contact-nav__icon {
  margin-right: 10px;
  fill: currentColor;
}
