.footer {
  padding: 60px 0;
  background: var(--footerbackground-color);
}
.footer .container {
  display: flex;
  align-items: baseline;
}
.footer-logo__link {
  display: flex;
  margin-bottom: 20px;
  max-width: 145px;
  font-family: 'Raleway';
  @include font(700, 26px, 1.2, null);
  // font-weight: 700;
  // font-size: 26px;
  // line-height: 1.2;

  color: var(--accent-color);
}
.footer-logo--white {
  color: var(--accent-color-text);
}
.footer-address {
  font-style: inherit;
}
.footer-item:not(:last-child) {
  margin-bottom: 9px;
}
.footer-streat {
  line-height: 1.71;
  color: var(--footer-text-color);
  @include transition(color, null, null, 250ms, var(--cubic));
  // transition-property: color;
  // transition-duration: 250ms;
  // transition-timing-function: var(--cubic);
}
.footer-item > a:hover,
.footer-item > a:focus {
  color: var(--accent-color);
}
.footermail-link,
.footertel-link {
  letter-spacing: 0.03em;
  color: var(--footer-text);
  text-decoration: none;
  @include transition(color, null, null, 250ms, var(--cubic));
  // transition-property: color;
  // transition-duration: 250ms;
  // transition-timing-function: var(--cubic);
}
.footer-soc {
  display: flex;
  justify-content: center;
}
.footer-soc-item {
  width: 44px;
  height: 44px;
  margin-left: 10px;
}
.footer-soc-item:first-child {
  margin-left: 0;
}
.footer-soc-link {
  @include flex(flex, center, center, null, null);
  // display: flex;
  // align-items: center;
  // justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;

  background-color: var(--icon-bgound-footer);
  color: var(--accent-color-text);
  @include transition(null, background-color, null, 250ms, var(--cubic));
  // transition-property: background-color;
  // transition-duration: 250ms;
  // transition-timing-function: var(--cubic);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}
.footer-soc-icon {
  fill: currentColor;
}

.footer-secondary {
  margin-left: 70px;
}
.footer-text {
  display: block;
  margin-bottom: 20px;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--accent-color-text);
}
.footer-secondary-input {
  margin-left: auto;
}
.form-footer {
  display: flex;
}
.footer-input {
  width: 358px;
  margin-right: 12px;
  padding-top: 15px;
  padding-left: 16px;
  padding-bottom: 15px;

  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  @include transition(null, background-color, null, 250ms, var(--cubic));
  // transition-property: background-color;
  // transition-duration: 250ms;
  // transition-timing-function: var(--cubic);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
  &::placeholder {
    font-size: 16px;
    line-height: calc(20 / 16);
    color: rgba(255, 255, 255, 0.6);
  }
}

.input-text {
  font-weight: 700;
  line-height: 1.14;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: var(--accent-color-text);
}
.button-input {
  display: flex;
  align-items: center;
  text-align: center;
  min-width: 200px;
  height: 50px;
  padding: 10px 28px 10px 29px;
  border: 0px solid transparent;

  @include font2(inherit, 700, 16px, 30px, 0.06em, null);
  // font-family: inherit;
  // font-weight: 700;
  // font-size: 16px;
  // line-height: 1.88;
  // letter-spacing: 0.06em;
  cursor: pointer;

  box-shadow: var(--box-shadow-buttom-studio);
  border-radius: 4px;
  color: var(--accent-color-text);
  background-color: var(--background-buttom-accent);

  @include transition(null, background-color, box-shadow, 250ms, var(--cubic));
  // transition-property: background-color, box-shadow;
  // transition-duration: 250ms;
  // transition-timing-function: var(--cubic);

  &:hover,
  &:focus {
    color: var(--accent-color-text);
    background-color: var(--background-buttom-zakaz-hover);
  }
}
.icon-send {
  margin-left: 10px;
}
