.header-nav {
  display: flex;
  align-items: center;
}
.header-nav__item:not(:last-child) {
  margin-right: 50px;
}
/* або через селектор сусіда */
/* .header .header-item + .header-item {
  margin-left: 50px;
} */
.header-nav__link {
  position: relative;
  padding: 32px 0;
  @include font(500, null, 1.2, 0.02em);
  // font-weight: 500;
  // line-height: 1.2;
  // letter-spacing: 0.02em;
  color: var(--primary-text-color);

  @include transition(color, null, null, 250ms, var(--cubic));
  // transition-property: color;
  // transition-duration: 250ms;
  // transition-timing-function: var(--cubic);
  &::after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
    background-color: var(--accent-color);
    opacity: 0;

    transform-origin: right left;
    transform: scaleX(1);
    transition: transform 250ms var(--cubic), opacity 250ms var(--cubic);
  }
  &:hover::after,
  &:focus::after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: -1px;
    border-radius: 2px;

    background-color: var(--accent-color);
    opacity: 1;
    transform: scaleX(0);
  }
}
.header-nav__link.current {
  color: var(--accent-color);

  &::after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
    opacity: 1;
    background-color: var(--accent-color);
  }
}
.header-nav__link:hover,
.header-nav__link:focus {
  color: var(--accent-color);
}
