.logo {
  font-family: 'Raleway';
  @include font(700, 26px, 1.2, null);
  color: var(--accent-color);
  padding: 20px 0;
  // font-weight: 700;
  // font-size: 26px;
  // line-height: 1.2;
  
  @include tablet{  
  padding: 26px 0;
  }
  @include desktop{
    padding: 24px 0 25px 0;
  }
}
.header__logo {
  @include tablet{
  margin-right: 88px;
}
  @include desktop{
  margin-right: 93px;
}
}
.header__logo--black {
  color: var(--primary-text-color);
}