h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.list,
a {
  list-style: none;
  text-decoration: none;
}
address {
  font-style: normal;
}
